---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
  </div>
{% endif %}

{% include base_path %}

<!-- Render grouped by category if defined -->
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}

      <article class="publication-entry">
        <!-- Title -->
        <h3>{{ post.title }}</h3>

        <!-- Author list -->
        {% if post.authors %}
          {% assign authors = post.authors %}
          {% if authors contains 'Siyang Wu' %}
            {% assign authors = authors | join: ', ' | replace: 'Siyang Wu', '<strong>Siyang Wu</strong>' %}
          {% else %}
            {% assign authors = authors | join: ', ' %}
          {% endif %}
          <p class="publication-authors">{{ authors }}</p>

        {% elsif post.author %}
          {% assign authors = post.author | replace: 'Siyang Wu', '<strong>Siyang Wu</strong>' %}
          <p class="publication-authors">{{ authors }}</p>

        {% elsif post.citation %}
          {% assign authors = post.citation | remove: '<i>' | remove: '</i>' | split: '.' | first %}
          {% assign authors = authors | replace: 'Siyang Wu', '<strong>Siyang Wu</strong>' %}
          <p class="publication-authors">{{ authors }}</p>
        {% endif %}

        <!-- Venue + Year -->
        {% if post.venue %}
          <p><em>{{ post.venue }}</em>{% if post.date %}, {{ post.date | date: "%Y" }}{% endif %}</p>
        {% endif %}

        <!-- Short abstract -->
        {% if post.abstract %}
          {% assign max_words = 100 %}
          {% assign short_abs = post.abstract | markdownify | strip_html | truncatewords: max_words %}
          <p class="publication-abstract">
            {{ short_abs }}...
            <a href="{{ post.url | relative_url }}" class="read-more">Read more</a>
          </p>
        {% endif %}
      </article>

    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    <article class="publication-entry">
      <h3>{{ post.title }}</h3>

      {% if post.authors %}
        {% assign authors = post.authors %}
        {% if authors contains 'Siyang Wu' %}
          {% assign authors = authors | join: ', ' | replace: 'Siyang Wu', '<strong>Siyang Wu</strong>' %}
        {% else %}
          {% assign authors = authors | join: ', ' %}
        {% endif %}
        <p class="publication-authors">{{ authors }}</p>

      {% elsif post.author %}
        {% assign authors = post.author | replace: 'Siyang Wu', '<strong>Siyang Wu</strong>' %}
        <p class="publication-authors">{{ authors }}</p>

      {% elsif post.citation %}
        {% assign authors = post.citation | remove: '<i>' | remove: '</i>' | split: '.' | first %}
        {% assign authors = authors | replace: 'Siyang Wu', '<strong>Siyang Wu</strong>' %}
        <p class="publication-authors">{{ authors }}</p>
      {% endif %}

      {% if post.venue %}
        <p><em>{{ post.venue }}</em>{% if post.date %}, {{ post.date | date: "%Y" }}{% endif %}</p>
      {% endif %}

      {% if post.abstract %}
        {% assign max_words = 100 %}
        {% assign short_abs = post.abstract | markdownify | strip_html | truncatewords: max_words %}
        <p class="publication-abstract">
          {{ short_abs }}...
          <a href="{{ post.url | relative_url }}" class="read-more">Read more</a>
        </p>
      {% endif %}
    </article>
  {% endfor %}
{% endif %}
