---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
  </div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}

      <article class="publication-entry">
        <!-- Title -->
        <h3>{{ post.title }}</h3>

        <!-- Author list -->
        {% if post.citation %}
          {% assign authors = post.citation | remove: '<i>' | remove: '</i>' %}
          {% assign authors = authors | split: '.' | first %}
          <p class="publication-authors">{{ authors }}</p>
        {% endif %}

        <!-- Venue + Year -->
        <p><em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}</p>

        <!-- Short abstract -->
        {% if post.abstract %}
          {% assign max_words = 100 %}
          {% assign short_abs = post.abstract | markdownify | strip_html | truncatewords: max_words %}
          <p class="publication-abstract">
            {{ short_abs }}...
            <a href="{{ post.url | relative_url }}" class="read-more">Read more</a>
          </p>
        {% endif %}
      </article>

    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    <article class="publication-entry">
      <h3>{{ post.title }}</h3>

      {% if post.citation %}
        {% assign authors = post.citation | remove: '<i>' | remove: '</i>' %}
        {% assign authors = authors | split: '.' | first %}
        <p class="publication-authors">{{ authors }}</p>
      {% endif %}

      <p><em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}</p>

      {% if post.abstract %}
        {% assign max_words = 100 %}
        {% assign short_abs = post.abstract | markdownify | strip_html | truncatewords: max_words %}
        <p class="publication-abstract">
          {{ short_abs }}...
          <a href="{{ post.url | relative_url }}" class="read-more">Read more</a>
        </p>
      {% endif %}
    </article>
  {% endfor %}
{% endif %}
